<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body style="margin: 0;padding: 0;">
<span th:text="${content}"></span>
<table>
  <tr>
    <th>群名称</th>
    <th>消息忽略次数</th>
    <th>错误代码</th>
    <th>错误次数</th>
  </tr>
  <div th:each="map : ${map}" th:with="num = ${map.value.size()}">
    <tr th:each="msg, status : ${map.value}">
      <td th:text="${map.key}" th:rowspan="${num}" th:if="${status.first}"></td>
      <td th:text="${msg.ignore}" th:rowspan="${num}" th:if="${status.first}"></td>
      <td th:text="${msg.errorCode}"></td>
      <td th:text="${msg.errorTimes}"></td>
    </tr>
  </div>
</table>
</body>
</html>